<div class="character">
    <div class="character-details-box">
        <div class="character-details-text" *ngIf="!character">
            <p>Please select a character...</p>
        </div>
        <div class="character-details-text" *ngIf="character">
            <h2>Selected: {{ character.name }}</h2>
        </div>
        <ul class="character-details-list" *ngIf="character">
            <li>Species: {{ hasSpecies ? species.name : 'unknown' }}</li>
            <li>Homeworld: {{ hasHomeworld ? homeworld.name : 'unknown' }}</li>
            <li *ngIf="films">
                Appears on:
                <ul>
                    <li *ngFor="let film of films">
                        {{ film }}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
