@background-color: #1a1a1a;
@border-color: #fffb00;
@large-screen-width: 100%;
@small-screen-width: 80%;

.character {
    max-width: @large-screen-width;
    width: 850px;
    margin: 30px auto;
    &-details-box {
        max-width: @large-screen-width;
        height: 220px;
        padding: 5px 20px;
        margin: 0 auto;
        background-color: @background-color;
        font-family: monospace;
        border: 3px solid @border-color;
        border-radius: 20px;
        @media (max-width: 900px) {
            max-width: @small-screen-width;
        }
    }
    &-details-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
