@text-color: #1a1a1a;
@text-shadow: #fffb00;

.title-container {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    h1 {
        color: @text-color;
        font-size: 50px;
        text-shadow: -1px 0 @text-shadow, 0 1px @text-shadow, 1px 0 @text-shadow,
            0 -1px @text-shadow;
        @media (max-width: 900px) {
            font-size: 40px;
        }
    }
}
