.people-container {
    display: flex;
    justify-content: space-around;
    width: 850px;
    margin: 0 auto;
}

.character-card {
    width: 220px;
    height: 300px;
    padding: 5px 20px;
    background-color: #1b1b1b;
    font-family: monospace;
    border: 3px solid #fffb00;
    border-radius: 20px;
}

.character-card-info {
    font-size: large;
}

.character-select-container {
    display: flex;
    justify-content: space-around;
    width: 850px;
    margin: 10px auto;
}

.character-select {
    padding: 8px 25px;
    font-family: monospace;
    background-color: #fffb00;
    border: 1px solid #fffb00;
    cursor: pointer;
}
