<div class="people-container" *ngIf="arePeopleLoaded">
    <div *ngFor="let character of fetchedPeople">
        <div class="character-card" *ngIf="!character">
            <h2>no data</h2>
        </div>
        <div class="character-card" *ngIf="character">
            <h2>{{ character.name }}</h2>
            <ul class="character-card-info">
                <li>Height: {{ character.height }} cm</li>
                <li>Birth year: {{ character.birth_year }}</li>
                <li>
                    Gender:
                    {{
                        character.gender === 'n/a'
                            ? 'no gender'
                            : character.gender
                    }}
                </li>
                <li>
                    Weight:
                    {{
                        character.mass === 'unknown'
                            ? character.mass
                            : character.mass + ' kg'
                    }}
                </li>
                <li>
                    Hair color:
                    {{
                        character.hair_color === 'n/a'
                            ? 'none'
                            : character.hair_color
                    }}
                </li>
                <li>Skin color: {{ character.skin_color }}</li>
                <li>Eye color: {{ character.eye_color }}</li>
            </ul>
        </div>
        <div class="character-select" *ngIf="character">
            <button
                class="character-select-button"
                (click)="onSelect(character)"
            >
                Details
            </button>
        </div>
    </div>
</div>
<div class="system-consoles">
    <app-character-detail
        [character]="selectedCharacter"
        [species]="fetchedSpecies"
        [homeworld]="fetchedHomeworld"
        [films]="fetchedFilms"
    ></app-character-detail>
    <app-messages></app-messages>
</div>
