.people-container {
    display: flex;
    justify-content: space-around;
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
}

.character-card {
    width: 220px;
    height: 300px;
    padding: 5px 20px;
    background-color: #1b1b1b;
    font-family: monospace;
    border: 3px solid #fffb00;
    border-radius: 20px;
}

.character-card-info {
    font-size: large;
}

.character-select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.character-select {
    padding: 8px 25px;
    font-family: monospace;
    background-color: #fffb00;
    border: 1px solid #fffb00;
    cursor: pointer;
}

.character-select:hover {
    background-color: #1b1b1b;
    color: #fffb00;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 900px) {
    .people-container {
        display: block;
    }
    .character-card {
        width: 80%;
        height: 220px;
        margin: 20px auto;
    }
    .character-select {
        padding: 8px 100px;
    }
}
